.search {
    display: flex;
    width: 100%;
    background-color: #fff;
    gap: 12px;
}

.search.light {
    background-color: #fff;
}

.search.dark {
    background-color: #23272f;
}

.input {
    width: 100%;
    padding: 10px 10px;
    border: 1px solid #f2f3f5;
    border-radius: 12px;
}
